.Block {
   width: 100%;
   height: auto;
   margin: 10px 0;
   border: 1px solid rgb(232, 232, 232);
   background-color: white;
   display:  flex;
   justify-content: space-between;
   padding: 10px;
   position: relative;
}

.Block img {
   height: 130px;
   width: 130px;
   border-radius: 7px;
}

.PostText {
   width: 82%;
   word-wrap: break-word;
}

.PostText a {
   text-decoration: none;
   color: black;
   font-weight: 800;
   height: auto;
}

.PostInfo {
   position: absolute;
   right: 5px;
   top: 5px;
   color: rgb(131, 131, 131);
   font-size: 16px;
}