.message {
   min-width: 40px;
   min-height: 30px;
   border-radius: 7px;
   background-color: rgb(233, 231, 231);
   color: rgb(35, 35, 35);
   margin: 15px 20px;
   padding: 5px;
   display: inline-block;
}

.messageInfo {
   font-size: 12px;;
}