.Posts {
   width: 100%;
   height: auto;
   /* background-color: white; */
   /* border: 1px solid rgb(232, 232, 232); */
   padding: 0;
}

.PostCreator {
   width: 100%;
   min-height: 150px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   border: 1px solid rgb(218, 218, 218);
   background-color: white;
   flex-direction: column;
   padding: 10px;
}

.PostCreator textarea {
   width: 80%;
   min-height: 100px;
   border: 1px solid rgb(232, 232, 232);
   word-wrap: break-word;
   outline: none;
   resize: none;
}

.PostCreator img {
   height: auto;
   width: 10%;
}

.ButtonBlock {
   width: 100%;
   display: flex;
   height: 30px;
   justify-content: flex-end;
}

.ButtonBlock button {
   width: 175px;
   height: 100%;
   margin: 0 15px;
   border-radius: 3px;
   border: none;
   background-color: rgb(255, 85, 85);
   color: white;
}

.ButtonBlock button:active {
   background-color: rgb(197, 66, 66);
}

.InputBlock {
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-bottom: 10px;
}

.PostCreateAvatar {
   object-fit: cover;
   width: 80px;
   height: 80px;
}